<header>
    <h1>Update Student</h1>
</header>

<body>
    <form action="/students/edit/<%= student.sid %>" method="POST">
        <label for="sid">Student ID</label>
        <input type="text" name="sid" id="sid" value="<%= student.sid %>" readonly /> <!--Dont allow user to change sid-->

        <br>

        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= student.name %>" required minlength="2"/><!--Minimum of 2 characters-->

        <br>

        <label for="age">Age</label>
        <input type="number" name="age" id="age" value="<%= student.age %>" min="18" required /> <!-- Make sure the ag eis at least 18-->

        <br>

        <button type="submit">Update</button>
    </form>

    <a href="/students">Back to Students</a>
    <br>
    <a href="/">Home</a>
</body>