<header>
    <h1>G00415696</h1>
</header>

<style>
    table, th, td {
        border: 1px solid black; /* Adds black borders to the table, header, and cells */
    }

</style>

<body>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        
        <% lecturers.forEach((lecturer) => { %>
            <tr>
                <td><%= lecturer._id %></td>
                <td><%= lecturer.name %></td>
                <td><%= lecturer.did %></td>
                <td>
                    <a href="/lecturers/delete/<%= lecturer._id %>">Delete</a>
                </td>
            </tr>
        <% }) %>
    </table>

    <br>
    <a href="/">Home</a>

</body>