<header>
    <h1>Lecturer List</h1>
</header>

<style>
    table, th, td {
        border: 1px solid black; /* Adds black borders to the table, header, and cells */
    }

</style>

<body>

    <br>
    <a href="/">Home</a>
    
</body>