<header>
    <h1>G00415696</h1>
</header>

<table>
    <nav>
        <ul>
            <li><a href="/students">Students</a></li>
            <li><a href="/lecturers">Lecturers</a></li>
            <li><a href="/grades">Grades</a></li>
        </ul>
    </nav>
</table>