<header>
    <h1>G00415696</h1>
</header>

<style>
    table, th, td {
       border: 1px solid black; /* Adds black borders to the table, header, and cells */
   }
</style>

<body>
    <h2>Main Page</h2>
    
    <table>

        <nav>
            <ul>
                <li><a href="/students">Students</a></li>
                <li><a href="/lecturers">Lecturers</a></li>
                <li><a href="/grades">Grades</a></li>
            </ul>
        </nav>
    </table>
</body>